spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - AddRequestHeader=X-Request-Id, ${random.uuid}

server:
  port: 8000

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
