spring:
  application:
    name: event-booking-service
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        enable_lazy_load_no_trans: true
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:eventdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

server:
  port: 8001

logging:
  level:
    root: INFO
    com.eventticket: DEBUG
